In [1]:
from splinter import browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests

# Data pull

In [2]:
# Make a list of all team names and make a list for table names
path = 'C:\\Users\\kounn\\OneDrive\\Documents\\Bootcamp_Project4\\machine-learning-project-4\\data\\'
teams = ['ATL','BOS','CHA','CHI','CLE','DAL','DEN','DET','GSW','HOU','IND','LAC','LAL','MEM','MIA','MIL','MIN','NJN','NOP','NYK','OKC','ORL','PHI','PHO','POR','SAC','SAS','TOR','UTA','WAS']
table_name = []
table_path = []
team_tables = teams

# Create CSV names
for team in teams:
    table_name.append(f"table_{team}.csv")

# Create Pathways
for table in table_name:
    table_path.append(path + str(table))

In [3]:
# Put all tables into a list
x = 0

# Create URL for all queries
for team in teams:
    query_url = f"https://www.basketball-reference.com/teams/{team}/stats_basic_yr_yr.html"
    
    # Append each table into team_tables
    while x < len(teams):
        df = pd.read_html(query_url)
        team_tables[x] = df[0]
        x = x+1

# Data cleaning

In [4]:
# Drop NAN columns for all tables
x = 0

while x < len(teams):
    team_tables[x] = team_tables[x].drop(columns=['Unnamed: 3', 'Unnamed: 7', 'Lg', 'Tm', 'Age', 'Ht.', 'Wt.'])
    x = x+1

In [5]:
# Drop all NAN rows for all tables
x = 0

while x < len(teams):
    team_tables[x] = team_tables[x].dropna()
    team_tables[x] = team_tables[x].drop([20, 41, 62])
    x = x+1

In [7]:
team_tables[0].dtypes

G      object
MP     object
FG     object
FGA    object
FG%    object
3P     object
3PA    object
3P%    object
2P     object
2PA    object
2P%    object
FT     object
FTA    object
FT%    object
ORB    object
DRB    object
TRB    object
AST    object
STL    object
BLK    object
TOV    object
PF     object
PTS    object
dtype: object

# Data export

In [17]:
# Export all DF to Data folder
x = 0

while x < len(teams):
    pd.DataFrame.to_csv (team_tables[x] ,table_path[x], index = False, header=True)
    x = x+1